<!DOCTYPE html>
<html>
  <head>
    <title>SchoolLinkup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Login</h1>
    <form method="post" action="{{ url_for('login') }}">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <input type="submit" value="Login">
    </form>

    <a href="templates/signup.html" class="redirect-btn">Signup</a>
    
  </body>
</html>