<!DOCTYPE html>
<html>
  <head>
    <title>SchoolLinkup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    
    <h1>SchoolLinkup</h1>
    <form method="post" action="{{ url_for('submit') }}">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" required>

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" required>

      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <label for="age">Age:</label>
      <input type="number" id="age" name="age" required>

      <label for="grade">Grade:</label>
      <input type="number" id="grade" name="grade" required>

      <label for="gender">Gender:</label>
      <input type="text" id="gender" name="gender" required>

      <label for="school">School:</label>
      <input type="text" id="school" name="school" required>

      <label for="board">Board:</label>
      <input type="text" id="board" name="board" required>

      <input type="submit" value="Submit">
    </form>

    <a href="login.html" class="redirect-btn">Login</a>
    
  </body>
</html>